/* CSS stylesheet */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(180deg, #18392b 10%, #500050 90%);
  padding: 5%;
}

body {
  width: 100%;
  padding: 20px 20px 20px 20px;
  background: linear-gradient(180deg, #500050 10%, #18392b 90%);
  color: black;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

header {
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  padding: 1%;
  width: 100%;
  background: linear-gradient(180deg, #500050 10%, #18392b 90%);
  display: flex;
  flex-direction: row-reverse;
}

.header figure,
.header nav,
.header ul,
.header li,
.header a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header figure {
  padding: 3%;
}

.header img {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 50%;
  padding: 6%;
}

.header nav {
color: white;
}

.header ul {
  list-style: none;
  color: #0099CC;
  background: transparent;
  border: none;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-transform: uppercase;
}

.header li {
  margin: 0.5em;
  border-radius: 35%;
}

.header a {
  color: white;
  text-decoration: none;
  border: 3px solid limegreen;
  border-radius: 35%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 0.3em;
  width: 100%;
}

.header a:hover {
  color: white;
  width: 100%;
  border-top: 5px solid #500050;
  border-bottom: 5px solid #500050;
  background-color: #18392b;
  padding: 0.3em;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.the-java {
  background: linear-gradient(180deg, #500050 10%, #18392b 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: limegreen;
}

.part-one,
.part-two,
.part-three,
.part-four,
.part-five {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}

.part-one h1,
.part-two h1,
.part-three h1,
.part-four h1,
.part-five h1 {
  display: flex;
  margin-bottom: 3%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  justify-content: center;
  align-items: center;
  width: 25%;
  border-radius: 35%;
}

.part-one h1:hover,
.part-two h1:hover,
.part-three h1:hover,
.part-four h1:hover,
.part-five h1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.part-one a,
.part-two a,
.part-three a,
.part-four a,
.part-five a {
  color: white;
}

.part-one {
  background-color: #18392b;
}

.part-one .about-me-pic {
  margin: 3%;
  padding: 0.5%;
}

.part-one p {
  width: 70%;
}

.part-two {
  background: linear-gradient(180deg, #18392b 10%, #500050 90%);
  border-top: 10px solid transparent;
  background-repeat: no-repeat;
}

.part-three,
.part-four,
.part-five,
.footer {
  border-top: 10px solid #18392b;
}

.part-three,
.part-four,
.part-five {
  background-color: #500050;
}

.part-one p {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.about-me-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.about-me-pic {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.part-two {
  flex-direction: column;
}

.skill-header{
  display: flex;
  flex-direction: column;
  margin: 1% 5% 5% 5%;
}

.list-skill-pics{
  display: flex;
  flex-direction: row;
}

.skills-list,
.skills-img {
  display: flex;
  flex-direction: column;
}

.skill-header {
  justify-content: center;
  align-items: center;
  width: 25%;
  border-radius: 35%;
}

.skills-emoji {
  border-radius: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 1%;
  margin: 1% 5% 5% 5%;;
}

.skills-emoji:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.skills-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.skills-img {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.skills-img li {
  list-style-type: none;
}

.skills-img img {
  height: 3em;
  width: 3em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 100%;
}

.skills-img img:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.projects-emoji {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 20%;
  padding: 1%;
  margin: 1% 5% 5% 5%;;
}

.projects-emoji:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.blog-emoji {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 20%;
  padding: 1%;
  margin: 1% 5% 5% 5%;
}

.blog-emoji:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.part-five .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5%;
}

.part-five .form-control {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-bottom: 2%;
  border: 1px solid green;
  padding: 1em 14em;
}

.form-control:hover {
  border: 1px solid limegreen;
}

.btn-contact {
  border: 1px solid limegreen;
  background-color: #18392b;
  color: white;
  width: 100%;
  padding: 1em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-contact:hover {
  background-color: limegreen;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.contact-image {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 30%;
  padding: 1%;
  margin: 1% 5% 5% 5%;
}

.contact-image:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.footer,
.down-span,
.down-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer {
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
  padding: 1%;
  width: 100%;
  background: linear-gradient(180deg, #500050 10%, #18392b 90%);
}

.down-span {
  justify-content: flex-start;
  width: 100%;
  padding: 2%;
  margin-left: 1em;
  margin-right: 1em;
  color: white;
}

.down-nav {
  justify-content: flex-end;
  width: 100%;
  padding: 10%;
}

.down-nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.btn a {
  text-decoration: none;
}

.down-nav img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 3px solid purple;
  background-color: green;
  border-radius: 100%;
  height: 5em;
  width: 5em;
  margin-right: 1em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.down-nav img:hover {
  border: 5px solid green;
  border-radius: 100%;
  background-color: purple;
  margin-right: 1em;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*** iPhone X ***/
@@media screen and (min-width: 375px) and (max-width: 812px) {
  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.down-nav .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
}

/**** SMALL ****/

@media screen and (max-width: 1184px) {
  .header ul {
    flex-direction: column;
    padding-top: 5%;
    padding-left: 30%;
    padding-right: 5%;
  }

  .logo img {
    height: 100%;
    width: 100%;
  }

.part-one {
  width: 100%;
}

.part-one .about-me-pic {
  width: 50%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/**** MEDIUM ****/

@media screen and (min-width: 768px) and (max-width: 1024px) {

}

/**** LARGE ****/

@media screen and (min-width: 1024px) and (max-width: 1366px) {

}

/**** EXTRA LARGE ****/

@media screen and (min-width: 1366px) {

}
